@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
  /*Cor primária do site*/
}

* {
  box-sizing: border-box;
  /*Borda não ocupar espaço maior do que o definido*/
  font-family: 'Open Sans', sans-serif;
}

html, body {
  background-color: #e8e8e8;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}